.summary-card {
  border-radius: 8px;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.summary-card-color {
  display: flex;
  min-width: 40px;
  border-radius: 8px 0 0 8px;
  background-color: #03045e;
}

.summary-card-content {
  padding-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary-card-text {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
}

.summary-card-number {
  font-size: 1.25rem; 
  font-weight: 700;
  margin: 0;
}
